@model ReceitaViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<div class="container mt-5">
    <section class="row">
        <div class="col-12">
            <h1>@Model.Titulo</h1>
            <img src="data:image/png;base64,@Model.Foto" class="img-fluid" />
            <p>@Model.Ingredientes</p>
            <p>@Model.ModoDePreparo</p>
            <a href="/">Voltar</a>
        </div>        
    </section>
</div>

